<div class="container">
    <div class="col-md-5">
        <form name="loginForm">
            <table class="table">
                <tr>
                    <td>FirstName :</td>
                    <td>
                        <input type="text" ng-model="vm.playerModel.FirstName" name="firstName" placeholder="FirstName" class='form-control' required/>
                        <div role="alert">
                            <span class="error" style="color: #dc143c" ng-show="loginForm.firstName.$error.required">Required!</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>LastName :</td>
                    <td>
                        <input type="text" ng-model="vm.playerModel.LastName" name="lastName" placeholder="LastName" class='form-control' required/>
                        <div role="alert">
                            <span class="error" style="color: #dc143c" ng-show="loginForm.lastName.$error.required">Required!</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="Save" id="btnsaveplayer" ng-disabled="loginForm.$invalid" ng-click="loginForm.$valid && vm.actions.savePlayer()" />
                    </td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
                <th>FirstName</th>

                <th>LastName</th>
            </tr>
            <tr ng-repeat="player in vm.allPlayers">
                <td>{{player.FirstName}}</td>
                <td>{{player.LastName}}</td>
                <td>
                    <a href="" ng-click="vm.actions.deletePlayer(player)" title="Delete Record">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>