<div class="container">
    <div class="col-md-5">
        <form name="myform">
            <table class="table">
                <tr>Here are the questions:</tr>
                <tr ng-repeat="QuizModel in vm.Quiz">
                    <td>{{QuizModel.Question }}</td>
                    <td>
                        <!--<label>
                            <input type="radio" ng-model="QuizModel.Answer" value="default">
                            default
                        </label><br/>-->
                        <label>
                            <input type="radio" ng-model="QuizModel.Answer" value="true">
                            true
                        </label><br />
                        <label>
                            <input type="radio" ng-model="QuizModel.Answer" value="false">
                            false
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="Answer Quiz" id="btnsave" ng-disabled="myform.$invalid" ng-click="myform.$valid && vm.actions.getPlayerScore()"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>